<footer>
    <div class="container">
        <div class="logo">
            <img class="logo_footer" src="/assets/images/stengo_white.png" alt="">
        </div>
        <div class="catalog">
            <p>Каталог</p>
            <ul class="catalog_menu">
                <li class="catalog_menu_li" [routerLink]="['/menu/iphone']"><a >iPhone</a></li>
                <li class="catalog_menu_li" [routerLink]="['/menu/apple_watch']"><a> Apple Watch</a></li>
                <li class="catalog_menu_li" [routerLink]="['/menu/ipad']"><a>iPad</a></li>

                <li class="catalog_menu_li" [routerLink]="['/menu/macbook']"><a>MacBook</a></li>
                <li class="catalog_menu_li" [routerLink]="['/menu/airpods']"><a>AirPods</a></li>
                <li class="catalog_menu_li" [routerLink]="['/sale']" style="color: red;"><a>SALE</a></li>
            </ul>
        </div>
        <div class="phone">
            <p>Контакты</p>
            <ul>
                <li>
                    <a><i class="fas fa-mobile-alt"></i>063 994 20 53</a>
                </li>
                <li>
                    <a> <i class="fas fa-mobile-alt"></i>097 297 67 89</a>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <p>Следите за нами</p>
            <!-- <div class="subscribe_icons"> -->
            <a href="https://www.instagram.com/stengo_case/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <!-- </div> -->
        </div>
    </div>




</footer>