<div class="card">
  <div class="card-header d-flex justify-content-between">
    <p class="pCategory">Редагування підкатегорій</p>
    <button class="btn btn-dark" (click)="openModal(modal1)">Добавити</button>
  </div>
  <div class="card-body">
    <input type="text" class="form-control" [(ngModel)]="nameSubcategory" name="nameSubcategory"
      placeholder="шукати...">
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th scope="col" [class.active]="subcategory === 'id'" (click)="setSubcategoryS('id')">№
            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col" [class.active]="subcategory === 'subcategory.categoryName '"
            (click)="setSubcategoryS('subcategory.categoryName ')">Категорія
            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col" [class.active]="subcategory === 'nameEN'" (click)="setSubcategoryS('nameEN')">Назва EN
            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col" [class.active]="subcategory === 'nameUA'" (click)="setSubcategoryS('nameUA')">Назва УКР
            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col">Деталі</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let subcategory of subcategories | orderBy: subcategory:reverse:'case-insensitive'| search:nameSubcategory; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ subcategory.categoryName }}</td>
          <td>{{ subcategory.nameEN }}</td>
          <td>{{ subcategory.nameUA }}</td>
          <td class="delete">
            <input type="button" value="Видалити" class="btn btn-danger" (click)="openModal2(modal2,subcategory)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modal1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Добавити підкатегорію</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="resetModel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <div class="form-group">
          <label for="categoryChoose">Виберіть категорію</label>
          <select class="form-control" [(ngModel)]="categoryName" name="categoryName" (change)="setSubcategory()"
            id="categoryChoose">
            <option *ngFor="let category of categories">
              {{ category.nameUA }}
            </option>
          </select>
          <input style="margin-top: 15px;" [(ngModel)]="nameEN" name="nameEN" type="text" class="form-control"
            id="nameEN" placeholder="Назва категорії англійською" (input)="checkInputs()">
        </div>
        <div class="form-group">
          <input [(ngModel)]="nameUA" name="nameUA" type="text" class="form-control" id="nameUA"
            placeholder="Назва категорії українською" (input)="checkInputs()">
        </div>
        <div class="custom-file mb-3" style="overflow: hidden;" *ngIf="!imageStatus">
          <input (change)="uploadFile($event)" type="file" class="custom-file-input" id="productImage" required>
          <label class="custom-file-label" for="productImage">Виберіть зображення для банера ...</label>
        </div>
        <div class="progress mb-3" *ngIf="!imageStatus">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0"
            aria-valuemax="100" [style.width]="(uploadProgress | async) + '%'"></div>
        </div>
        <div class="image mb-3" *ngIf="imageStatus" style="width: 200px; height: 200px;">
          <img [src]="subcategoryImage" alt="" style="width: 100%; height: 100%;">
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mt-2 mr-2" (click)="resetModel()">Закрити</button>
        <button type="button" class="btn btn-secondary mt-2" [disabled]="!checkInput"
          (click)="addSubcategory()">Додати</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #modal2>
  <div class="modal-body change">
    <form>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary mt-2 mr-2 change2">Відміна</button>
        <button type="button" class="btn btn-danger mt-2 change2" (click)="deleteSubcategory()">Видалити</button>
      </div>
    </form>
  </div>
</ng-template>