header {
    position: relative;
    top: 0;
    z-index: 9999;
    background-color: white;
    font-family: SF Pro;
    box-shadow: 0px 3px 5px 0px #dcdcdc;
    .header_up {
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: white;
        background-color: black;
    }
    .header_mobile {
        display: none;
    }
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .header_main_logo_img {
        width: 100%;
        height: 20%;
        opacity: 0;
        transition: 1s;
        &:focus {
            outline: none;
        }
    }
    .fas,
    .fa-shopping-cart,
    .fa-user,
    .fa-heart {
        margin-right: 30px;
        position: relative;
        padding-bottom: 30px;
    }
    .fa-heart:hover {
        color: red;
        cursor: pointer;
    }
    .fa-shopping-cart {
        cursor: pointer;
    }
    .fa-user {
        cursor: pointer;
    }
    .fa-search {
        cursor: pointer;
    }

    li:hover {
        cursor: pointer;
    }

    .header__cart-count {
        font-style: normal;
        position: absolute;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #ff0909;
        text-align: center;
        line-height: 26px;
        color: #fff;
        font-size: 13px;
        font-family: SF Pro;
        right: -16px;
        top: -10px;
        font-weight: 700;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.281363);
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 20px;
        .row,
        .align-items-center {
            height: 100px;
        }
    }
    .iphone_img {
        width: 100%;
        &:focus {
            outline: none;
        }
    }

    .apple_watch_img {
        width: 95%;
        &:focus {
            outline: none;
        }
    }
    .ipad_img {
        width: 95%;
        &:focus {
            outline: none;
        }
    }
    .mac_img {
        width: 130%;
        &:focus {
            outline: none;
        }
    }
    .airpods_img {
        width: 83%;
        &:focus {
            outline: none;
        }
    }

    .scroll_nav {
        display: none;
        width: 100vw;
        justify-content: center;

        background-color: #1f1f1f;
        height: 45px;

        transition: all 1s ease;
        .scroll_ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .scroll_li {
        font-weight: 100;
        color: rgb(218, 218, 218);
        letter-spacing: 0px;
        min-width: fit-content;
    }
    .scroll_li:hover {
        color: white;
        cursor: pointer;
    }
    .header_down_logo_img {
        width: 200px;
        margin-left: 7px;
        &:focus {
            outline: none;
        }
    }

    .scroll {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        transition: 1s;
    }
    .header_main_up {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_phone_numbers {
            width: 21%;
            .header_phone_numbers_item {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                span{
                    a{
                      text-decoration: none;
                      color: black;  
                    }
                }
            }
        }
        .header_main_logo {
            width: 41%;
            margin-left: -4%;
        }
    }
}
.dropdown_menu_scroll {
    position: absolute;
    display: none;
    line-height: 30px;
    top: 22px;
    left: 2px;
    background-color: #1f1f1f;
    border-radius: 5px;
    opacity: 1;
    min-width: 200px;
    ul {
        .dropdown_menu_scroll_li {
            font-size: 12px;
            border-bottom: 2px solid #4e4e4e94;
            line-height: 45px;
            width: 100%;

            &:hover {
                background-color: #181415;
                color: white;

                transition: 0.7s;
            }
            &:hover .nav-link {
                color: white;
            }
            .dropdown_menu_scroll_li_a {
                color: rgb(218, 218, 218);
                text-decoration: none;
            }
        }
    }
}
.dropdown_menu {
    position: absolute;
    display: none;
    line-height: 30px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    opacity: 1;
    min-width: 100%;
    .dropdown_menu_li {
        font-size: 12px;
        color: rgb(44, 44, 44);
        border-bottom: 1px solid #d7d7d7;
        width: 100%;
        line-height: 15px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: rgba(230, 230, 230, 0.733);
            transition: 0.7s;
        }
        .dropdown_menu_li_a {
            color: rgb(44, 44, 44);
            text-decoration: none;
        }
    }
}
.img_li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}
.img_li:hover .dropdown_menu {
    display: block;
}
.scroll_li:hover .dropdown_menu_scroll {
    display: flex;
}
.nav-link_span {
    padding-bottom: 15px;
}
.nav-link {
    color: rgb(218, 218, 218);
    text-decoration: none;
    &:hover {
        color: white;
    }
}
.header_main_basket_and_other {
    width: 17%;
    height: 30px;
    display: flex;
    justify-content: center;
    line-height: 24px;
}

.delete {
    background: none;
    border: none;
    box-shadow: none;
    color: #bababa;
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 16px;
    &:hover {
        outline: none;
    }
}

.far_scroll:hover .header_main_dropdown_menu_ul_scroll {
    display: block;
}
.header_main_dropdown_menu_ul_scroll {
    display: none;
    min-width: 450px;
    padding: 0;
    margin: 0;
    background: #fdfdfd;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    top: 34px;
    position: absolute;
    right: 0;
    z-index: 99;
    .header_main_dropdown_menu_li_scroll {
        padding: 20px;
        height: 110px;
        border-bottom: 1px solid #f0f0f0;
        width: 100%;
        transition: all 1s ease;
        &:hover {
            background-color: #ebebeb;
        }
        .header_main_dropdown_menu_scroll_image {
            max-width: 60px;
            max-height: 60px;
            margin-right: 15px;
            float: left;
            margin-bottom: 10px;
        }
        .header_main_dropdown_menu_scroll_info {
            color: #231f20;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 5px;
            letter-spacing: 0px;
            p {
                width: 100%;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0px;
            }
            .header_main_dropdown_menu_scroll_info_count {
                width: 35%;
                height: 20%;
                display: flex;
                align-items: center;
                .count_p {
                    color: #898989;
                    font-size: 13px;
                    font-weight: 300;
                    margin-bottom: 4px;
                    margin-right: 3px;
                    line-height: 27px;
                    letter-spacing: 0px;
                }
            }
            .home_main_product_scroll_details_price {
                width: 27%;
                margin-top: 6px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .old_price {
                    position: relative;
                    font-size: 14px;
                }
                .old_price::before {
                    position: absolute;
                    content: "";
                    left: -2px;
                    top: 50%;
                    right: -2px;
                    border-top: 1px solid #2e2e2ead;
                    transform: rotate(7deg);
                }

                .new_price {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }

    .header_main_dropdown_menu_info {
        color: #231f20;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
        p {
            line-height: 2.1vh;
        }
        .header_main_dropdown_menu_info_count {
            width: 70%;
            height: 20%;
            margin-top: 5px;
            display: flex;
            align-items: center;
            .count_p {
                color: #898989;
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 4px;
                margin-right: 3px;
            }
        }
    }
}
.header_main_dropdown_menu,
.header_main_dropdown_menu_scroll,
.header_main_dropdown_menu_wish,
.header_main_dropdown_menu_profile {
    position: relative;
    a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
}
.header_main_dropdown_menu_image {
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
    float: left;
}
.fa-shopping-cart {
    position: relative;
    padding-bottom: 30px;
}

.header_main_dropdown_menu_ul {
    display: none;
    min-width: 450px;
    padding: 0;
    margin: 0;
    background: #fdfdfd;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    top: 45px;
    position: absolute;
    right: 0;
    z-index: 99;
    .product_enough_head {
        width: 100%;
        height: 73px;
        line-height: 31px;
        p {
            color: #898989;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 0;
        }
    }
    .header_main_dropdown_menu_info {
        color: #231f20;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
        p {
            line-height: 2.1vh;
        }
        .header_main_dropdown_menu_info_count {
            width: 70%;
            height: 20%;
            margin-top: 5px;
            display: flex;
            align-items: center;
            .count_p {
                color: #898989;
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 4px;
                margin-right: 3px;
            }
        }
    }
    li {
        padding: 20px;
        height: 110px;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        transition: all 1s ease;
        &:hover {
            background-color: #ebebeb;
        }
    }
}
.header_main_dropdown_menu_scroll:hover .header_main_dropdown_menu_ul_scroll {
    display: block;
}
.header_main_dropdown_menu_wish:hover .header_main_dropdown_menu_ul_wish {
    display: block;
}
.header_main_dropdown_menu:hover .header_main_dropdown_menu_ul {
    display: block;
}

.correct_nav {
    margin-left: 2%;
    margin-right: 1%;
    display: inline-flex !important;
    margin-top: 30px;
}
.product_enough {
    width: 100%;
    line-height: 75px !important;
    p {
        color: #898989;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0;
    }
}
.total_price_header {
    background-color: #ebe7e7;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
    height: 110px;
    border-bottom: 1px solid #f0f0f0;
    .total_price_header_price {
        width: 56%;
        line-height: 15px;
        letter-spacing: 0px;
    }

    p {
        color: #898989;
        font-size: 17px;
        letter-spacing: 0px;
        padding-bottom: 7px;
        font-weight: 100;
    }
    span {
        margin-top: 7px;
        font-size: 20px;
        font-weight: 700;
    }
}
.block_info_main_info_btn_buy {
    margin: 0;
    background-color: #05d86e;
    color: white;
    font-weight: 700;
    box-shadow: 0 -3px 0 #03af59 inset;
    font-size: 16px;
    padding: 0;
    height: 45px;
    line-height: 45px;
    width: 60%;
    border: none;
    border-radius: 5px;
    display: block;
    transition: 0.8s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 -45px 0 #00a251 inset;
    }
}
.header_main_dropdown_menu_ul_wish {
    display: none;
    min-width: 450px;
    padding: 0;
    margin: 0;
    background: #fdfdfd;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    top: 45px;
    position: absolute;
    right: 0;
    z-index: 99;
    .product_enough_head {
        p {
            color: #898989;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 0;
        }
    }
    li {
        padding: 20px;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        transition: all 1s ease;
        &:hover {
            background-color: #ebebeb;
        }
        .header_main_dropdown_menu_image_wish {
            max-width: 60px;
            max-height: 60px;
            margin-right: 15px;
            float: left;
        }
        .header_main_dropdown_menu_info_wish {
            color: #231f20;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 5px;
            P {
                line-height: 2.1vh;
            }

            .home_main_product_details_price_wish {
                width: 28%;
                margin-top: 2%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .old_price {
                    position: relative;
                    font-size: 14px;
                }
                .old_price::before {
                    position: absolute;
                    content: "";
                    left: -2px;
                    top: 50%;
                    right: -2px;
                    border-top: 1px solid #2e2e2ead;
                    transform: rotate(7deg);
                }

                .new_price {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
}

.home_main_product_details_price {
    width: 25%;
    margin-top: 6px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .old_price {
        position: relative;
        font-size: 14px;
    }
    .old_price::before {
        position: absolute;
        content: "";
        left: -2px;
        top: 50%;
        right: -2px;
        border-top: 1px solid #2e2e2ead;
        transform: rotate(7deg);
    }

    .new_price {
        font-size: 20px;
        font-weight: 700;
    }
}
.header_main_dropdown_menu_ul_wish_scroll {
    display: none;
    min-width: 450px;
    padding: 0;
    margin: 0;
    background: #fdfdfd;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    top: 34px;
    position: absolute;
    right: 0;
    z-index: 99;
    li {
        padding: 20px !important;
        border-bottom: 1px solid #f0f0f0;
        letter-spacing: 0px !important;
        width: 100% !important;
        position: relative;
        transition: all 1s ease;
        &:hover {
            background-color: #ebebeb;
        }
        .header_main_dropdown_menu_image_wish_scroll {
            max-width: 60px;
            max-height: 60px;
            margin-right: 15px;
            float: left;
            margin-bottom: 5px;
            p {
                margin-top: 10px;
            }
        }
        .header_main_dropdown_menu_info_wish_scroll {
            color: #231f20;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 5px;
            p {
                margin-top: 10px;
                padding-bottom: 15px;
                line-height: 2.1vh;
            }
            .home_main_product_details_price_wish_scroll {
                width: 28%;
                margin-top: 3%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .old_price {
                    position: relative;
                    font-size: 14px;
                }
                .old_price::before {
                    position: absolute;
                    content: "";
                    left: -2px;
                    top: 50%;
                    right: -2px;
                    border-top: 1px solid #2e2e2ead;
                    transform: rotate(7deg);
                }

                .new_price {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
}

.header_main_dropdown_menu_wish_scroll:hover .header_main_dropdown_menu_ul_wish_scroll {
    display: block;
}
.header_main_dropdown_menu_profile {
    .header_main_dropdown_menu_ul_profile {
        display: none;
        min-width: 20%;
        padding: 0;
        margin: 0;
        background: #fdfdfd;
        border: none;
        border-radius: 4px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
        top: 45px;
        position: absolute;
        right: 0;
        z-index: 99;
        li {
            padding: 15px;
            border-bottom: 1px solid #f0f0f0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1s ease;
            &:hover {
                background-color: #ebebeb;
            }
        }
    }
}
.li_profile_scroll {
    padding: 25px !important;
    letter-spacing: 0px !important;
    font-weight: normal !important;
}

.header_main_dropdown_menu_profile:hover .header_main_dropdown_menu_ul_profile {
    display: block;
}
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60vw;
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -7px;
        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
    p {
        font-family: Sf Pro;
        margin-top: -5px;
    }
}

.inputElementWrapper,.inputElementWrapperSearch{
    width: 100%;
    position: relative;
    margin-top: 25px;
    z-index: 5;
    font-family: Sf Pro;

    input:focus {
        outline: none;
    }
    .inputElementItem,
    .textareaElementItem {
        border: 1px solid #ccc;
        padding: 9px 14px;
        transition: 0.4s;
        background: transparent;
        font: 15px/24px "Lato", Arial, sans-serif;
        color: #333;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 1px;
    }

    .inputElementItem ~ .focus-border:before,
    .inputElementItem ~ .focus-border:after,
    .textareaElementItem ~ .focus-border:before,
    .textareaElementItem ~ .focus-border:after {
        content: "";
        position: absolute;
        top: -1px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: orange;
        transition: 0.4s;
    }

    .inputElementItem ~ .focus-border:after,
    .textareaElementItem ~ .focus-border:after {
        top: auto;
        bottom: 0;
    }

    .inputElementItem ~ .focus-border i:before,
    .inputElementItem ~ .focus-border i:after,
    .textareaElementItem ~ .focus-border i:before,
    .textareaElementItem ~ .focus-border i:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 2px;
        height: 0;
        background-color: orange;
        transition: 0.6s;
    }

    .inputElementItem ~ .focus-border i:after,
    .textareaElementItem ~ .focus-border i:after {
        left: auto;
        right: 0;
    }

    .inputElementItem:focus ~ .focus-border:before,
    .inputElementItem:focus ~ .focus-border:after,
    .textareaElementItem:focus ~ .focus-border:before,
    .textareaElementItem:focus ~ .focus-border:after {
        left: 0;
        width: 100%;
        transition: 0.4s;
    }

    .inputElementItem:focus ~ .focus-border i:before,
    .inputElementItem:focus ~ .focus-border i:after,
    .textareaElementItem:focus ~ .focus-border i:before,
    .textareaElementItem:focus ~ .focus-border i:after {
        top: -1px;
        height: 100%;
        transition: 0.6s;
    }
    .inputElementItem ~ label,
    .textareaElementItem ~ label {
        position: absolute;
        left: 14px;
        width: 100%;
        top: 13px;
        color: #212529;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
    .inputElementItem::placeholder,
    .textareaElementItem::placeholder {
        color: transparent;
    }

    .inputElementItem:focus ~ label,
    .textareaElementItem:focus ~ label {
        top: -18px;
        left: 0;
        font-size: 12px;
        color: #0e0e0e;
        transition: 0.3s;
    }

    .inputElementItem:not(:placeholder-shown):not([value=""]) ~ label,
    .textareaElementItem:not(:placeholder-shown):not([value=""]) ~ label {
        top: -18px;
        left: 0;
        font-size: 12px;
        color: #0e0e0e;
        transition: 0.3s;
    }
}
.auth_btn {
    background-color: orange;
    color: white;
    font-weight: 700;
    box-shadow: 0 -3px 0 #aa7003 inset;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: block;
    transition: 0.8s;
    margin-top: 10px;
    margin-bottom: -10px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 -45px 0 rgb(170, 112, 3) inset;
    }
}
.navbar-nav {
    width: 100%;
    .navbar-nav_img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_li {
        width: 20%;
        text-align: center;
        opacity: 0;
        transition: all 1s ease;
        a {
            width: 100%;
        }
    }
}
nav li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 600;
    padding: 0 27px;
    transition: color 0.25s linear;
}
.productCountWrapper {
    input {
        font-family: SF Pro;
        font-size: 13px;
    }
}
.search {
    align-items: flex-start;
    .modal-content {
        border-radius: 10px;
        margin: 0% auto;
        .search_result {
            min-height: 1vh;
            .search_ul {
                display: flex;
                flex-flow: row wrap;
                position: inherit;
                box-shadow: none;
                min-width: 10vw;
                .product_enough_head {
                    width: 100%;
                    border-bottom: none;
                    text-align: center;
                    &:hover {
                        background-color: white;
                    }
                }
                li {
                    padding: 15px;
                    &:hover {
                        cursor: pointer;
                    }
                    .header_main_dropdown_menu_info_wish {
                        margin-top: 3%;
                        .home_main_product_details_price_wish {
                            width: 100px;
                            .new_price {
                                font-size: 16px;
                            }
                            .old_price {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .search_product_p {
        font-size: 12px;
    }
}
@media (max-width: 850px) {
    .dropdown_menu_li {
        font-size: 11px !important;
    }
    nav li {
        padding: 0 1em;
        font-size: 15px;
    }
    .correct_nav {
        margin-left: 10px;
        margin-right: 0px;
    }

    .nav-item {
        .fas,
        .far {
            font-size: 15px;
            margin-right: 1em;
        }
    }
    header {
        .header_down_logo_img {
            width: 150px;
            margin-left: 0px;
        }
    }
}

@media (min-width: 851px) and (max-width: 1100px) {
    .dropdown_menu_li {
        font-size: 11px !important;
    }
    nav li {
        padding: 0 1em;
        font-size: 17px;
    }
    .correct_nav {
        margin-left: 10px;
        margin-right: 0px;
    }

    .nav-item {
        .fas,
        .far {
            font-size: 18px;
            margin-right: 1em;
        }
    }
    header {
        .header_down_logo_img {
            width: 170px;
            margin-left: -20px;
        }
    }
}

@media (max-width: 969px) {
    .header_main_basket_and_other {
        .fas,
        .far {
            font-size: 21px;
        }
    }
    .scroll_li:hover .dropdown_menu_scroll {
        display: none;
    }
    .img_li:hover .dropdown_menu {
        display: none;
    }
    .header_phone_numbers_item {
        font-size: 14px;
        padding-left: 6%;
    }
    .modal-content {
        p {
            font-size: 18px;
        }
    }
    .auth_btn {
        font-size: 13px;
    }
    .search {
        .modal-content {
            .search_result {
                .search_ul {
                    li {
                        .home_main_product_details_price_wish {
                            width: 100px !important;
                            .new_price {
                                font-size: 14px;
                            }
                            .old_price {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 970px) {
    .header_main_basket_and_other {
        .fas,
        .far {
            font-size: 24px;
        }
    }
    .header_phone_numbers_item {
        font-size: 16px;
    }
    .modal-content {
        p {
            font-size: 22px;
        }
    }
    .auth_btn {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .first_menu {
        display: none;
    }
    .wrapper_header_mobile {
        position: relative;
        width: 100%;
        height: 7vh;
    }
    header {
        .header_mobile {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            height: 8.5vh;
            background-color: #fffffff2;
            #menuToggle {
                display: block;
                position: relative;
                width: 25%;
                left: 4.2vw;
                z-index: 1;

                -webkit-user-select: none;
                user-select: none;
            }

            #menuToggle a {
                text-decoration: none;
                color: black;

                transition: color 0.3s ease;
            }

            #menuToggle a:hover {
                color: black;
            }

            #menuToggle input {
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
                -webkit-touch-callout: none;
            }
            #menuToggle span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: black;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
            }

            #menuToggle span:first-child {
                transform-origin: 0% 0%;
            }

            #menuToggle span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
            #menuToggle input:checked ~ span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: black;
            }
            #menuToggle input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            #menuToggle input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }

            #menu {
                position: absolute;
                width: 60vw;
                height: 100vh;
                margin: 10% 0 0 -30%;
                padding: 34%;
                padding-top: 55%;
                background: #fffffffa;
                list-style-type: none;
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            }

            #menu {
                li {
                    padding: 10px 0;
                    font-size: 22px;
                }
            }
            .user_li {
                position: absolute;
                bottom: 37%;
            }
            #menuToggle input:checked ~ ul {
                transform: none;
            }
            .header_mobile_img {
                width: 50%;
                margin-right: 5vw;
                margin-left: -7vw;
                text-align: center;
                &:focus {
                    outline: none;
                }
                img {
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .header_mobile_icon {
                width: 20%;
                display: flex;
                align-items: center;
                .far,
                .fas {
                    font-size: 23px;
                    padding-bottom: 2px;
                    margin-right: 3vw;
                    .header__cart-count {
                        width: 21px;
                        height: 21px;
                        font-size: 12px;
                        right: -9px;
                        line-height: 23px;
                    }
                }
            }
            .header_mobile_icon:hover header.header_mobile.header_mobile_wishlist.header_mobile_wishlist_ul {
                display: block;
            }
            .header_mobile_wishlist {
                .header_mobile_wishlist_ul {
                    display: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    background: #fdfdfd;
                    border: none;
                    border-radius: 4px;
                    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
                    top: 45px;
                    position: absolute;
                    right: 0;
                    z-index: 99;
                    li {
                        padding: 20px;
                        border-bottom: 1px solid #f0f0f0;
                        position: relative;
                        transition: all 1s ease;
                        &:hover {
                            background-color: #ebebeb;
                        }
                        .header_mobile_wishlist_ul_image {
                            max-width: 60px;
                            max-height: 60px;
                            margin-right: 15px;
                            float: left;
                        }
                        .header_mobile_wishlist_ul_info {
                            color: #231f20;
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 5px;
                            .header_mobile_wishlist_ul_info_price {
                                width: 32%;
                                margin-top: 3%;
                                display: flex;
                                align-items: flex-end;
                                justify-content: space-between;
                                .old_price {
                                    position: relative;
                                    font-size: 14px;
                                }
                                .old_price::before {
                                    position: absolute;
                                    content: "";
                                    left: -2px;
                                    top: 50%;
                                    right: -2px;
                                    border-top: 1px solid #2e2e2ead;
                                    transform: rotate(7deg);
                                }

                                .new_price {
                                    font-size: 20px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .search {
        .modal-content {
            width: 100%;
            border-radius: 0px;
        }
    }
}
