<div class="container">
    <div class="products_head">
        <button class="products_head_btn" type="button"
            [textContent]="!filterOpenMobile || filterOpen ?'Фильтр':'Скрыть фильтр'" (click)="openfilter()"></button>
        <button class="products_head_btn reset_filter_btn" type="button" (click)="resetfilter()">Сбросить
            фильтр</button>
        <p *ngIf="countProduct>0">Найдено: {{countProduct}} товаров </p>
        <p *ngIf="countProduct == 0">По вашому запросу ничего не найдено! </p>
    </div>
    <div class="products_all">
        <div class="products_all_filter" [ngClass]="{'openFilter':  filterOpen}"
            [ngClass]="{'filterMobile': filterOpenMobile}">
            <div class="filter_block">
                <div class="filter_block_title">
                    <p>Совместимость:</p>
                </div>
                <ul class="filter_list">
                    <li class="filter_list_li">
                        <input type="radio" name="category" id="Apple Watch" style="display: none;"
                            (change)='changeInput($event)'>
                        <label for="Apple Watch"><span><a>Apple Watch</a> <i></i></span></label>
                    </li>
                    <li class="filter_list_li">
                        <input type="radio" name="category" id="iphone" style="display: none;"
                            (change)='changeInput($event)'>
                        <label for="iphone"><span><a>Iphone</a> <i></i></span></label>
                    </li>
                    <li class="filter_list_li">
                        <input type="radio" name="category" id="ipad" style="display: none;"
                            (change)='changeInput($event)'>
                        <label for="ipad"><span><a>Ipad</a> <i></i></span></label>
                    </li>
                    <li class="filter_list_li">
                        <input type="radio" name="category" id="macbook" style="display: none;"
                            (change)='changeInput($event)'>
                        <label for="macbook"><span><a>MacBook</a> <i></i></span></label>
                    </li>
                    <li class="filter_list_li">
                        <input type="radio" name="category" id="airpods" style="display: none;"
                            (change)='changeInput($event)'>
                        <label for="airpods"><span><a>AirPods</a> <i></i></span></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="products_all_block" [ngStyle]="{'width':  !filterOpen ? '80%' : '100%'}">
            <div class="products_all_block_main_product"
                *ngFor="let product of userFilterProductFinal  | paginate: { itemsPerPage: 10, currentPage: p }">
                <div class="products_all_block_main_product_image"
                    [routerLink]="[ '/menu/'+product?.category.toLowerCase(), product?.subcategoryEN, product?.nameEN]">
                    <a>
                        <img class="product_image" [src]='product?.image' alt="">
                    </a>
                </div>
                <div class="product_title"
                    [routerLink]="[ '/menu/'+product?.category.toLowerCase(), product?.subcategoryEN, product?.nameEN]">
                    <p>{{product?.nameUA}}</p>
                </div>
                <div class="products_all_block_main_product_details">
                    <div class="products_all_block_main_product_details_price">
                        <span class="old_price">{{product?.oldPrice}} <span style="font-size: 12px;">грн</span></span>
                        <br>
                        <span class="new_price">{{product?.price}}<span style="font-size: 12px;">грн</span></span>
                    </div>
                    <div class="products_all_block_main_product_details_buy">
                        <input type="button" class="btn_buy" value="Купить" [routerLink]="[ '/basket']"
                            (click)="addBasket(product)">
                        <input type="button" class="btn_basket" value="В корзину" (click)="addBasket(product)">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
</div>
<app-products-viewed></app-products-viewed>