.container-fluid{
    font-family: Sf Pro;
    margin-top: 5%;
}
.nav-link.active{
    background-color:#343a40
}
a{
    color:black;
}
.btn-admin{
    margin-top: 10px;
}
.modal-open{
    overflow: auto;
    }
    