.container-fluid{
    height: 100vh;
    font-family: Sf Pro;
    position: absolute;
    top: 0;
    z-index: 999999;
    background-color: white;
}
.nav-link.active{
    background-color:#343a40
}
a{
    color:black;
}
.btn-admin{
    margin-top: 10px;
}
.modal-open{
    overflow: auto;
    }

    