<div class="container">
    <div class="home_slider">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img class="img_slide" src="/assets/images/banner.jpg">
            </div>
            <div class="mySlides fade">
                <img class="img_slide" src="/assets/images/banner_2.jpg">
            </div>
        </div>
    </div>
    <div class="home_main">
        <div class="home_main_title">
            <h2>ТОП ПРОДАЖ</h2>
        </div>
        <div class="home_main_all_products">
            <div class="home_main_product"
                *ngFor="let product of topProducts| paginate: { itemsPerPage: 9, currentPage: p }">
                <div class="home_main_product_image"
                    [routerLink]="[ '/menu/'+product?.category.toLowerCase(), product?.subcategoryEN, product?.nameEN]">
                    <img class="product_image" [src]='product?.image' alt="">
                    <div class="small_icon">
                        <div class="small_icon_top" *ngIf="product?.top">TOP</div>
                        <div class="small_icon_sale" *ngIf="product?.sale">SALE</div>
                    </div>
                </div>
                <div class="product_title"
                    [routerLink]="[ '/menu/'+product?.category.toLowerCase(), product?.subcategoryEN, product?.nameEN]">
                    <p>{{product.nameUA}}</p>
                </div>
                <div class="home_main_product_details">
                    <div class="home_main_product_details_price">
                        <span *ngIf="product?.oldPrice" class="old_price">{{product?.oldPrice}} <span
                                style="font-size: 12px;">грн</span></span>
                        <br>
                        <span class="new_price">{{product?.price}} <span style="font-size: 12px;">грн</span></span>
                    </div>
                    <div class="home_main_product_details_buy">
                        <input type="button" class="btn_buy" value="Купить" [routerLink]="[ '/basket']"
                            (click)="addBasket(product)">
                        <input type="button" class="btn_basket" value="В корзину" (click)="addBasket(product)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>