@font-face {
    font-family: "SF Pro";
    src: url(assets/fonts/SF_Pro/FontsFree-Net-SFProDisplay-Regular.ttf);
  }
  
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before, *::after{
    box-sizing: border-box;
}
.productCountWrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0 24px;
  }
  
  .productCount {
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  .productCount.lessProduct:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	margin-top: -1px;
	margin-left: -5px;
	background: rgb(17, 17, 17);
	-webkit-transition: background .250s linear;
	-o-transition: background .250s linear;
	transition: background .250s linear;
	content: '';
  }
  .productCount.moreProduct {
	left: auto;
	right: 0;
  }
  
  .productCount.moreProduct:before,
  .productCount.moreProduct:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	margin-top: -1px;
	margin-left: -5px;
	background: rgb(17, 17, 17);
	-webkit-transition: background .250s linear;
	-o-transition: background .250s linear;
	transition: background .250s linear;
	content: '';
  }
  
  .productCount.moreProduct:after {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
  }
  
  
  .productCountWrapper input {
	padding: 0 5px;
  }
  
  .productCountWrapper input {
	font-size: 16px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 38px;
	font-weight: 500;
	padding: 0 6px;
	font-family: "Roboto";
	border: 1px solid #eaeaea;
  }
 input[type='button']{
	  &:focus{
		 outline: none;
	  }
  }
  .modal-order{
	max-width:1000px!important;
	}
	.modal_open{
		overflow: auto;
	}