.btn-dark {
    width: 150px;
}
.pCategory {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
}
.form-group {
    width: 100%;
}
.change2 {
    width: 230px;
    margin: 5px auto;
}
.delete {
    width: 100px;
}
